

  .btn--primary {
    text-shadow: 0 1px 0 color-mix(in srgb, transparent 85%, var(--bc));
    background-color: var(--p);
    color: var(--pc);
    transition: all 0.2s ease;
  }

  .btn--primary:hover {
    transform: translateY(-2px);
    background-color: var(--ph);
  }

  .btn--danger {
    color: var(--pc);
    background-color: var(--er);
  }

  .btn--danger:hover {
    background-color: color-mix(in srgb, var(--er) 90%, black);
  }

  .btn--link {
    height: auto;
    border: 0;
    background: transparent;
    padding: 0;
    color: var(--p);
  }

  .btn--link:hover {
    text-decoration: underline;
    color: var(--ph);
  }
