

@layer components {
  .badge--brand {
    border: 1px solid color-mix(in srgb, var(--p) 25%, transparent);
    background-color: color-mix(in srgb, var(--p) 15%, transparent);
    color: var(--p);
  }

  .badge--success { 
    background-color: color-mix(in srgb, var(--su) 10%, transparent); 
    color: var(--su); 
    border: 1px solid color-mix(in srgb, var(--su) 20%, transparent);
  }
  
  .badge--warning { 
    background-color: color-mix(in srgb, var(--wa) 10%, transparent); 
    color: var(--wa); 
    border: 1px solid color-mix(in srgb, var(--wa) 20%, transparent);
  }
  
  .badge--danger { 
    background-color: color-mix(in srgb, var(--er) 10%, transparent); 
    color: var(--er); 
    border: 1px solid color-mix(in srgb, var(--er) 20%, transparent);
  }
  
  .badge--info { 
    background-color: color-mix(in srgb, var(--in) 10%, transparent); 
    color: var(--in); 
    border: 1px solid color-mix(in srgb, var(--in) 20%, transparent);
  }
}
